{% extends "assessment4_app/Site_base.html" %}
{% block page_title %}
Home
{% endblock %}


{%block page_heading%}<h1 class="title">Home</h1>{% endblock %}

{% block main_body %}
    <ul class="list"><h3 class="subtitle">Team Member:</h3>
        <ol>Danny Nguyen - S344857</ol>
        <ol>Doan Duc Anh Dinh - S357416</ol>
        <ol>Viet Hoang Le - S350764</ol>
        <ol>Janan Ha - S322596</ol>
    </ul>    

    <p class="list">
        This website looks at the top 5 foods that are wasted in Australia and ways
        for mitigation depending on the container of the food.</p>
{% endblock %}