{% extends "assessment4_app/Site_base.html" %}
{% block page_title %}
List
{% endblock %}
{%block page_heading%}
  <h1 class='title'>Food Waste List</h1>
{% endblock %}

{% block main_body %}
<div class="table-container">
    <table class="table">
      <tbody>
        <tr>
          <td><strong>1 </strong></td>
          <td><a href="{% url 'detail_single' detail_id=1 %}">{{ Food_1 }}</a></td>
        </tr>
        <tr>
          <td><strong>2 </strong></td>
          <td><a href="{% url 'detail_single' detail_id=2 %}">{{ Food_2 }}</a></td>
        </tr>
        <tr>
          <td><strong>3 </strong></td>
          <td><a href="{% url 'detail_single' detail_id=3 %}">{{ Food_3 }}</a></td>
        </tr>
        <tr>
          <td><strong>4 </strong></td>
          <td><a href="{% url 'detail_single' detail_id=4 %}">{{ Food_4 }}</a></td>
        </tr>
        <tr>
          <td><strong>5 </strong></td>
          <td><a href="{% url 'detail_single' detail_id=5 %}">{{ Food_5 }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}