<h1>Mitigation</h1>
{% if detail.bio %}   
        <p>
            <ul>
                <li>All foods can be composted</li>
                <li>Foods that have a biodegradeable packaging are more benefitcial 
                    in the management of food waste.</li>
                <li>Ensuring that we purchase only the amount of food needed helps to 
                    prevent unnecessary food waste.</li>     
            </ul>
        </p>
      {% else %}
        <p>
            <ul>
                <li>Foods that do not have a biodegradeable container (such as plastic milk bottles)
                    should be recycled before before the food is composting. </li>
                <li>Alternative materials such as cardboard cartons for foods such as milk should be considered.</li>
            </ul>
        </p> 
{% endif %}

